.body {
    background-color: #E3ACEC;

    background-image: url("../images/Ellipse\ 1.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top_menu {
    top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top_contact .phone {
    margin-left: 20px;
}
.signinbtn :hover {
    background-color: #F56AAA;
    color: black;
}
.signinbtn > a{
    color: white;
}
.top_btn {
    padding: 15px;
    background-color: #2502FB;
}
.icon-btn {
    background-color: Blue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
.nav_items > a {
    text-decoration: none;
    color: white;
}
.nav_items{
    background-color:rgba(235, 125, 253, 0.37);;
    display: grid;
    grid-template-columns: repeat(6,20%);
}
.item {
    background-color: blue;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    margin: 10px 25px;
}
nav{
    margin-top: 30px;
}
.item:hover {
    background-color: #D700FA;
    text-decoration: underline;
}

.content {
    padding: 5% 10%;
}
.content > h1 {
    font-size: 64px;
}
.lower_content > h3 {
    font-size: 45px;
}
.lower_content {
    margin-top: 40px;
}
.lower_content > p {
    margin-top: 50px;
    font-size: 24px;
}
.contactme_btn {
    margin-top: 10%;
    text-align: center;
}
button:hover {
    background-color: #D700FA;
    text-decoration: underline;
    color: black;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.call >div>span {
    margin: 10px 10px;
}
.available >div>span {
    margin: 10px 10px;
}
.item-footer {
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .nav_items a {
        display: none;
    }
    #navmenu .icon {
        position: absolute;
        display: block
    }
    .top_contact {
        font-size: small;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
  
    .item {
        width: 100%;
        border-radius: 0%;
    }
  }
  
@media screen and (max-width: 900px) {
    #navmenu.responsive{
        position: relative;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 50px;
        margin: 2% 0%;
        border-radius: 0%;
    }
    .nav_items.responsive .icon {
        position: absolute;
    }
    .nav_items.responsive a {
        float: none;
        display: block;
        text-align: center;

    }
}
.nav_items .icon {
    display: none;
  }

.footer .down {
    text-align: center;
}

/* LOGIN PAGE STYLE */
#login {
    text-align: center;
}
.content_info {
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.sub_btn {
    margin-top: 40px;
}
.sub_btn >button {
    width: 80px;
    height: 35px;
    background: #2502FB;
    border-radius: 10px;
    color: white;
    outline: none !important;
}
.login-frm {
    position: relative;
    align-self: center;

    margin: 30px;
    padding: 20px;
}
.login-frm h1 {
    font-family: News Cycle;
    color: white;
    text-decoration: underline #D700FA;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 40px;
    text-align: center;
    outline: none;

    
  }

  button {
    padding: 14px 20px;
    margin: 10px 0;
    width: auto;
    background-color: blue;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    outline: none;
  }
.sub_btn {
    color: white;
}
.content_info button {
    align-self: center;
}

.myform {
    display: flex;
    flex-direction: column;
}

.wrap-input100 {
    height: 45px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 15px;
    display: flex;
  }
  .wrap-input1000 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 15px;
    display: flex;
  }
  
  .input100 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    background: transparent;
    padding: 0 5px 0 20px;
  }

  .input1000 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    resize: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background: transparent;
    padding: 0 5px 0 20px;
  }

#label-click {
      color: #F56AAA;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
      cursor: pointer;
  }

  /*Contact CSS*/
  

  .cont-myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-frm {
    position: relative;
    align-self: center;
    border: solid;
    margin: 0px 30px 30px 30px;
    padding: 20px;
}
.cont-myform .contactme-lbl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    background-color: #D700FA;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    
}

.cont-myform .contactme-lbl h2 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



/*Portifolio Page CSS */
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-content{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    grid-gap: 20px;
    
    padding: 10px;
}
.p-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-item h3 {
    margin-top: 25%;
    font-size: 17px;
    color: white;
    background-color: #F56AAA;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p-item p {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #E3ACEC;
    padding: 10px;
    border-radius: 5px;
}

.p-item1 {
    background-image: url(../images/l1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.p-item2 {
    background-image: url(../images/l2.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.p-item3 {
    background-image: url(../images/Component\ 14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.p-item4 {
    background-image: url(../images/s1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 900px) {
    .p-content{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 400px ;
        grid-gap: 20px;
        
        padding: 10px;
    }
}

.portfolio-title h1 {
    background-color: #E86161;
    padding: 20px;
}
/* Blog Pgae Css */

.Blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.b-list {
    margin-top: 10%;
    padding: 20px;
    display: grid;
    grid-template-columns:250px 250px 250px 250px;
    grid-template-rows:300px 300px 300px 300px;
    grid-gap: 20px;
}
.b-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Component\ 15.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.b-item > h3{
    margin-top: 100%;
    font-size: 15px;
    align-self: flex-start;
}
.b-head {
    display: grid;
    grid-template-columns:900px;
    grid-template-rows:500px;
    justify-content: center;
}
.b-head-item {
    background-image: url(../images/Component\ 15.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1100px) {
    .b-head {
        display: grid;
        grid-template-columns:700px;
        grid-template-rows:400px;
        justify-content: center;
    }
    .b-list {
        margin-top: 10%;
        padding: 20px;
        display: grid;
        grid-template-columns:250px 250px 250px;
        grid-template-rows:300px 300px 300px;
        grid-gap: 20px;
    }
    
}
@media screen and (max-width: 800px) {
    .b-head {
        display: grid;
        grid-template-columns:500px;
        grid-template-rows:300px;
        justify-content: center;
    }
    .b-list {
        margin-top: 10%;
        padding: 20px;
        display: grid;
        grid-template-columns:250px 250px;
        grid-template-rows:300px 300px;
        grid-gap: 20px;
    }
    
}
@media screen and (max-width: 500px) {
    .b-head {
        display: grid;
        grid-template-columns:350px;
        grid-template-rows:300px;
        justify-content: center;
    }
    .b-list {
        margin-top: 10%;
        padding: 20px;
        display: grid;
        grid-template-columns:150px 150px;
        grid-template-rows:160px 160px;
        grid-gap: 10px;
        justify-content: center;
    }
    .signinbtn >a {
        font-size: 10px;
    }
    .top_contact .fa-phone {
        display: none;
    }
}
.a-content {
    display: flex;
    flex-direction: column;
}
.a-content .a-title {
    align-self: center;
    background-color: #D700FA;
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.a-items {
    display: grid;
    grid-template-areas:
      'header header header main main main'
      'menu menu  menu right right right'
      'none none  none left left left'
      'none none  none footer footer footer'
      'none none none footer footer footer';
    grid-gap: 20px;
    padding: 30px;
}

@media screen and (max-width: 900px) {
    .a-content .a-items{
        display: flex;
        flex-direction: column;

    }
    .a-item {
        width: 100%;
        margin-left: 2%;
    }
    .a-item.a-item-2 {
        width: 100%;
        grid-area: main;
    }
    .a-item.a-item-3 {
        width: 100%;
        grid-area: right;
    }
    .a-item.a-item-4 {
        width: 100%;
        grid-area: left;
    }
    .a-item.a-item-5 {
        width: 100%;
        grid-area: footer;
    }
    .a-item.a-item-6 {
        width: 100%;
        grid-area: menu;
    }
}
.a-item.a-item-1 {

    grid-area: header;
}
.a-item.a-item-2 {
    grid-area: main;
}
.a-item.a-item-3 {
    grid-area: right;
}
.a-item.a-item-4 {
    grid-area: left;
}
.a-item.a-item-5 {
    grid-area: footer;
}
.a-item.a-item-6 {
    grid-area: menu;
}
.a-item.a-item-2 >p,.a-item.a-item-3 >p,.a-item.a-item-4 > p,.a-item.a-item-6 >div {
    background-color: #D700FA;
    border-radius: 5px;
    padding: 30px;
}
.a-item.a-item-2 >p,.a-item.a-item-3 >p,.a-item.a-item-4 > p{
    align-self: center;
}
.a-item .a-item-5-img {
    display: grid;
    grid-template-columns: auto auto auto;
}
.contactme_btn button a {
    color: white;
}
.a-content .a-items .a-item {
    background-color:#E3ACEC;
    width: 100%;
}