body {
    background-color: #002D68;
    font-family: "Segoe UI", Arial, sans-serif;
}


/* header {
    position: fixed;
    width: 100%;
} */

p,
h1,
h2,
h3 {
    color: rgb(212, 209, 209);
}

a {
    text-decoration: none;
    color: rgb(212, 209, 209);
}

#topmenu {
    background-color: #022655;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

#topmenu div {
    text-align: right;
}

#topmenu a {
    background-color: #1356e6;
    padding: 0.7em;
}

#topmenu a:hover {
    background-color: #7801ff;
    padding: 0.8em;
}

@media only screen and (max-width:700px) {
    #topmenu {
        background-color: #022655;
        padding: 1em 1em;
        display: grid;
        grid-template-columns: auto auto auto;
        font-size: 12px;
    }
}

@media only screen and (max-width:350px) {
    #topmenu {
        background-color: #022655;
        padding: 1em 1em;
        display: grid;
        grid-template-columns: auto auto auto;
        font-size: 12px;
    }
    #topmenu a {
        font-size: 12px;
    }
    #topmenu #phone {
        display: none;
    }
}

nav>ul {
    list-style-type: none;
    background-color: #022655;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a,
.dropdownbtn {
    display: inline-block;
    text-align: center;
    color: rgb(212, 209, 209);
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul> li a:hover,
dropdown:hover {
    background-color: #7801ff;
    padding: 17px 18px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #7801ff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

ul a.icon {
    display: none;
}

.icon-btn,
button {
    background-color: #1356e6;
    border: none;
    color: rgb(212, 209, 209);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.icon-btn:hover,
button:hover {
    background-color: #7801ff;
}

@media screen and (max-width:600px) {
    .topnavclass li:not(:first-child) {
        display: none;
    }
    #id-icon {
        float: right;
        display: block;
        padding: 12px 12px;
    }
    .top-footer {
        display: flex;
        flex-direction: column !important;
        background-color: #022655;
    }
    .contact-frm,
    .login-frm {
        width: 100% !important;
    }
}

@media screen and (max-width:600px) {
    .topnavclass.responsive {
        position: relative;
    }
    .topnavclass.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .topnavclass.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}
footer {
    background-color: #022655;
}
.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.call>div>span {
    margin: 10px 10px;
}

.available>div>span {
    margin: 10px 10px;
}

.item-footer {
    margin-top: 10px;
}

.down-footer {
    text-align: center;
}


/* Landing Page */

.content {
    padding: 5% 10%;
}

.content>h1 {
    font-size: 64px;
}


/*Contact CSS*/

.cont-myform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-frm {
    position: relative;
    align-self: center;
    border: solid;
    margin: 0px 30px 30px 30px;
    padding: 8px;
    width: 60%
}

.cont-myform .contactme-lbl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    background-color: #022655;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    padding: 5px 10px;
}

.cont-myform .contactme-lbl h2 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 209, 209);
}


/* LOGIN PAGE STYLE */

#login {
    text-align: center;
}

.content_info {
    display: flex;
    flex-direction: column;
}

.sub_btn {
    margin-top: 40px;
}

.sub_btn>button {
    width: 80px;
    height: 35px;
    background: #1356e6;
    border-radius: 10px;
    color: rgb(212, 209, 209);
    outline: none !important;
}

.login-frm {
    position: relative;
    align-self: center;
    margin: 30px;
    padding: 20px;
}

.login-frm h1 {
    font-family: News Cycle;
    color: rgb(212, 209, 209);
    text-decoration: underline #022655;
}

.wrap-input100 >input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    text-align: center;
    outline: none;
}

.sub_btn {
    color: rgb(212, 209, 209);
}

.content_info button {
    align-self: center;
}

.myform {
    display: flex;
    flex-direction: column;
}

.wrap-input100 {
    height: 45px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 15px;
    display: flex;
}

.wrap-input1000 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 15px;
    display: flex;
}

.input100 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    background: transparent;
    padding: 0 5px 0 20px;
}

.input1000 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background: transparent;
    padding: 0 5px 0 20px;
}

#label-click {
    color: #1356e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}


/*Portifolio Page CSS */

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-content {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    grid-gap: 20px;
    padding: 10px;
}

.p-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-item h3 {
    margin-top: 25%;
    font-size: 17px;
    color: rgb(212, 209, 209);
    background-color: #002D68;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-item p {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #002D68;
    padding: 10px;
    border-radius: 5px;
}

.p-item1 {
    background-image: url(../img/l1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.p-item2 {
    background-image: url(../img/l2.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.p-item3 {
    background-image: url(../img/Component\ 14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.p-item4 {
    background-image: url(../img/s1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 900px) {
    .p-content {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 400px;
        grid-gap: 20px;
        padding: 10px;
    }
}

.portfolio-title h1 {
    background-color: #002D68;
    padding: 20px;
}


/*About Me Page*/

.content {
    display: flex;
    flex-direction: column;
}

.content .a-title {
    align-self: center;
    background-color: #002D68;
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 209, 209);
}

.a-items {
    display: grid;
    grid-template-areas: 'header header header main main main' 'menu menu  menu right right right' 'none none  none left left left' 'none none  none footer footer footer' 'none none none footer footer footer';
    grid-gap: 20px;
    padding: 30px;
}

@media screen and (max-width: 900px) {
    .content .a-items {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }
    .a-item {
        width: 100% !important;
    }
    .a-item.a-item-2 {
        width: 100% !important;
        grid-area: main;
    }
    .a-item.a-item-3 {
        width: 100% !important;
        grid-area: right;
    }
    .a-item.a-item-4 {
        width: 100% !important;
        grid-area: left;
    }
    .a-item.a-item-5 {
        width: 100% !important;
        grid-area: footer;
    }
    .a-item.a-item-6 {
        width: 100% !important;
        grid-area: menu;
    }
}

.a-item.a-item-1 {
    grid-area: header;
}

.a-item.a-item-2 {
    grid-area: main;
}

.a-item.a-item-3 {
    grid-area: right;
}

.a-item.a-item-4 {
    grid-area: left;
}

.a-item.a-item-5 {
    grid-area: footer;
}

.a-item.a-item-6 {
    grid-area: menu;
}

.a-item.a-item-2>p,
.a-item.a-item-3>p,
.a-item.a-item-4>p,
.a-item.a-item-6>div {
    background-color: #002D68;
    border: solid #022655;
    border-radius: 5px;
    padding: 30px;
}

.a-item.a-item-2>p,
.a-item.a-item-3>p,
.a-item.a-item-4>p {
    align-self: center;
}

.a-item .a-item-5-img {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em;
}

.content .a-items .a-item {
    background-color: #022655;
    width: 100%;
}
/* More Blog Post  */
@media screen and (max-width:700px){
    #other-blog {
        display: grid;
        grid-template-columns: repeat(3,35%) !important;
    } 
}
@media screen and (max-width:500px){
    #other-blog {
        display: grid;
        grid-template-columns: repeat(2,50%) !important;
    } 
}
#b-content {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}
#other-blog {
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
} 
#other-blog .single-blog:hover{
    padding: 2px;
    cursor: pointer;
}
#main-blog {
    padding: 5%;
    margin-top: 2px; 
    background-color: #022655;
}
#other-blog .single-blog{
    padding: 8px;
    background-color: #022655;
}

#sb-content {
    display: grid;
    grid-template-columns: 50% 50%;
}
.sb-data {
    margin: 5px;
    padding: 10px;
    
}
@media screen and (max-width:480px){
    #sb-content {
        display: flex !important;
        flex-direction: column;
    }
    .smain-blog {
        order: 2;
    }
    .recent {
        order: 3;
    }
    .search {
        order: 1;
    }
    .Subscribe {
        order: 4;
    }
    .comment {
        order: 5;
    } 
}
.smain-blog {
    grid-row-start: 1;
    grid-row-end: 6;
}
.recent {
    grid-area: 2/2;
}
.search {
    grid-area: 1/2;
}
.Subscribe {
    grid-area: 3/2;
}
.comment {
    grid-area: 6/1;
}
form {
    display: flex;
    flex-direction: column;
}


/* search */
form.example input[type=text],form.example input[type=email] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 70%;
    background: #f1f1f1;
  }
  
  form.example button {
    border-radius: 0% !important;
    padding: 15px !important;
    height: 100%;
    margin: 0;
  }
  
  form.example button:hover {
    background: #7801ff;
  }
  section>form>div {
      display: flex;
      flex-direction: row;
  }
  section>form>textarea.textarea {
      width: 70%;
      min-height: 60px;
      outline: none;
  }
  .comment form>div>button {
      margin: 10px;
  }
  .comment form {
      padding: 20px;
  }
.sb-data {
    background-color: #022655;
}